/* src/components/Header.css */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #1E1E1E; /* Gris oscuro */
  color: #F5F5F5; /* Blanco suave */
  margin-left: 220px; /* Espacio para la sidebar */
}

.logo-container img {
  height: 50px;
}
