/* src/components/Sidebar.css */
.sidebar {
  width: 220px;
  background-color: #1E1E1E; /* Gris oscuro */
  color: #F5F5F5; /* Blanco suave */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1rem;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  padding: 0.8rem 1rem;
}

.sidebar nav ul li a {
  color: #F5F5F5; /* Blanco suave */
  text-decoration: none;
  display: block;
}

.sidebar nav ul li a.active,
.sidebar nav ul li a:hover {
  background-color: #145214; /* Verde oscuro */
  border-radius: 4px;
}
