/* Basic styling for EditExercise */
.edit-exercise-container {
  padding: 20px;
}

.edit-exercise {
    padding: 1rem;
    background-color: #121212; /* Fondo negro profundo */
    color: #F5F5F5; /* Texto en blanco suave */
}
