.exercise-library {
    padding: 1rem;
}
  
.filter-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
  
.filter-container input {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #1E1E1E; /* Gris oscuro */
    color: #F5F5F5; /* Blanco suave */
    border: 1px solid #3A3A3A; /* Gris medio */
    border-radius: 4px;
}
  
.filter-buttons {
    display: flex;
    gap: 0.5rem;
}
  
.filter-buttons button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #145214; /* Verde oscuro */
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}
  
.filter-buttons button:hover {
    background-color: #28A745; /* Verde más brillante */
}
  
.exercise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
  
.exercise-card {
    background: #242424; /* Gris oscuro */
    border: 1px solid #3A3A3A; /* Gris medio */
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Ajuste para sombra en modo oscuro */
    color: #F5F5F5; /* Blanco suave */
}
  
.exercise-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}
