/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  margin-left: 220px; /* Debe coincidir con el ancho de la sidebar */
  padding: 1rem;
  background-color: #f9f9f9;
}
